<div class="bodyc">

  <div class="offers">
    <h1> Offers</h1>
    <div></div>
  </div>

  <div class="contenido">
    <div>

      <div class="target">
        <!-- <div class="moscow"></div>
        <div class="moscow"></div>
        <div class="moscow"></div> -->
        <div class="slideshow">
          <button class="slide-btn slide-btn-1"></button>
          <button class="slide-btn slide-btn-2"></button>
          <button class="slide-btn slide-btn-3"></button>

          <div class="slideshow-wrapper">

            <div class="slide">
              <img class="slide-img"
                  src="/images/moscow.jpg"
                  alt="moscow">
                  <div class="opacity">
                    <h3>
                      Trip to Moscow
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h1>
                      Price $600,86
                    </h1>
                  </div>
            </div>
            <div class="slide">
              <img class="slide-img"
                  src="/images/puerto-rico.jpg"
                  alt="puerto-rico">
                  <div class="opacity">
                    <h3>
                      Trip to Puerto Rico
                    </h3>
                    <p>
                    </p>
                    <h1>
                      Price $600,86
                    </h1>
                  </div>
            </div>
            <div class="slide2">
              <img class="slide-img"
                  src="/images/honduras.jpg"
                  alt="honduras">
                  <div class="opacity">
                    <h3>
                      Trip to Honduras
                    </h3>
                    <p></p>
                    <h1>
                      Price $600,86
                    </h1>
                  </div>
            </div>

          </div>
        </div>
      </div>

      <div class="menuc">
        <nav>
          <ul><img src="/images/polygon.svg" alt="polygon"> <h1>Check-in</h1></ul>
          <ul><img src="/images/polygon.svg" alt="polygon"> <h1>Manage My Booking</h1></ul>
          <ul><img src="/images/polygon.svg" alt="polygon"> <h1>Search</h1></ul>
          <ul><img src="/images/polygon.svg" alt="polygon"> <h1>Destinations</h1></ul>
          <ul><img src="/images/polygon.svg" alt="polygon"> <h1>Members</h1></ul>
        </nav>
      </div>

    </div>

    <div class="chosen">
      <h1>Chosen destination</h1>
    </div>
  </div>
</div>
