<div class="info">
  <div class="arriba">

    <h1>AIRLINE</h1>

    <div class="derecha">
      <div class="lenguaje">
        <button>
          <div class="en">
            <h1 class="en">en</h1>
          </div>
          <div>
            <img src="/images/closeDown.svg" alt="closeDown">
          </div>
        </button>
        <div class="nav">
          <nav>
            <ul>RU - Russian</ul>
            <ul>DE - German</ul>
            <ul>FR - French</ul>
          </nav>
        </div>
      </div>

      <div class="opciones">
        <button>
          <div>
            <img src="/images/hamburg.svg" alt="hamburg">
          </div>
        </button>
        <div class="menu">
          <nav>
            <ul>Home</ul>
            <ul>About</ul>
            <ul>Destinations</ul>
            <ul>Contact</ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="abajo">
    <h6>Visit Canada with prices from $800</h6>
    <p>Prepare your bags and forget your worries to start enjoying your holidays in this fantastic country</p>
    <button> <h1> BUY NOW </h1></button>
  </div>
</div>
